<%= form_with model: [:admin, @prize] do | form | %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="name"">Name</label>
        <%= form.text_field :name, class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <%= form.number_field :quantity, class: "form-control", required: true %>
      </div>
      <%= form.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
