<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h2 class="display-4">Web Prizes</h2>
      <p>Subscribe to our store and get info about new products. You can win several prizes!</p>
      <%= render partial: "subscribers/form" %>
    </div>
  </div>
  <div id="alert-area"></div>
</main>