<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h2 class="display-4">Web Prizes</h2>
      <p>Subscribe to our store, get info about new products. You can win several prizes!</p>
      <form>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-1 col-form-label">Email</label>
          <div class="col-sm-4">
            <input type="email" class="form-control" id="inputEmail3" placeholder="joe@email.com">
          </div>
          <div class="col-sm-4">
            <a class="btn btn-primary" href="#" role="button">Subscribe</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>