<%= form_tag admin_prize_conditions_path(@prize_condition.id) do %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="name"">Name</label>
        <%= text_field_tag :name, @prize_condition.name, class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <label for="name"">Prize</label>
        <%= select_tag(:prize_id, options_from_collection_for_select(@prizes, :id, :name, @prize.id), class: "form-control", prompt: "Select the prize") %>
      </div>

      
      <%= submit_tag "Submit", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
