<div id="rule-form" class="form-group">
  <div class="row">
    <div class="col-md-6">
      <label for="quantity">Operator</label>
      <%= select_tag "prize_condition[rules[][operator]]", options_for_select(@operators_list, rule["operator"]), class: "form-control", required: true, prompt: "Select the operator" %>
      <small id="emailHelp" class="form-text text-muted">Define if the subscriber number is</small>
    </div>
    <div class="col-md-6">
      <label for="quantity">Number</label>
      <%= number_field_tag "prize_condition[rules[][number]]", rule["number"], class: "form-control", required: true %>
      <small id="emailHelp" class="form-text text-muted">Number to compare</small>
    </div>
  </div>
</div>